.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.body-wrapper {
  flex: 1;
  display: flex;
  overflow: hidden;
  height: 100%;
}

.main-content {
  flex: 1;
  background: #f5f5f5;
  overflow-y: auto; 
}

:host {
  display: block;
  height: 100%;
  width: 100%;
}

