.sidebar {
  height: 100%;
  width: 250px;
  background: #495057;
  color: white;
  padding: 0;
  display: flex;
  flex-direction: column;

  .list-heading {
    font-size: 23px;
    border-bottom: 1px solid #6c757d;

    .submenu {
      font-size: 20px;
      max-height: 100vh;
      overflow-y: auto;

      .child-area {
        .first-child-area {
          padding-left: 14px;
          display: block;
        }
      }

      .child-submenu {
        padding-left: 14px;
        .children-area {
          .children-area-list {
            .second-child-area {
              padding-left: 30px;
            }
          }
        }
      }
    }


    .sub-submenu {
      padding-left: 24px;
    }
  }
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 1px;
  white-space: normal;
  word-break: break-word;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
}

.active {
  background: #4d8881;
  color: white;
  font-weight: 600;
}