.sidebar {
  height: 100%;
  width: 230px;
  background: #495057;
  color: white;
  padding: 0;  
  display: flex;
  flex-direction: column;

  .list-heading {
    font-size: 23px;
    border-bottom: 1px solid #6c757d;
    .submenu {
      font-size: 20px;
      padding-left: 20px;
      max-height: 100vh;
      overflow-y: auto;

      
      .sub-submenu {
        padding-left: 24px;
      }
    }
  }
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 3px; 
  white-space: normal;
  word-break: break-word;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
  list-style: none;
  white-space: normal;
  word-break: break-word;
}
