<div class="sidebar">
  <ul>

    <li *ngFor="let item of navItem" (click)="toggleMenu(item)" class="list-heading">
      {{ item.title }}

      <ul *ngIf="item.open" class="submenu">

        <ng-container *ngFor="let sub of item.children">

          <li *ngIf="!sub.children" [routerLink]="sub.path" (click)="$event.stopPropagation()">
            {{ sub.name }}
          </li>

          <li *ngIf="sub.children" (click)="toggleMenu(sub);" (click)="$event.stopPropagation()">
            {{ sub.name }}
            <ul *ngIf="sub.open" class="submenu sub-submenu">
              <li *ngFor="let child of sub.children" [routerLink]="child.path" (click)="$event.stopPropagation()">
                {{ child.name }}
              </li>
            </ul>
          </li> 

        </ng-container>

      </ul>

    </li>

  </ul>

</div>

