<div class="sidebar">
  <ul>

    <li *ngFor="let item of navItem" (click)="toggleMenu(item)" class="list-heading">
      {{ item.title }}

      <ul *ngIf="item.open" class="submenu">

        <ng-container *ngFor="let sub of item.children">

          <li class="child-area"
              *ngIf="!sub.children"
              [routerLink]="sub.path"
              (click)="$event.stopPropagation(); passName(sub.name)"
              [ngClass]="{ 'active': seletedName === sub.name }">
              <span class="first-child-area">{{ sub.name }}</span>
          </li>

          <li class="child-submenu" *ngIf="sub.children" (click)="toggleMenu(sub);" (click)="$event.stopPropagation()">
            {{ sub.name }}
            <ul *ngIf="sub.open" class="children-area">
              <li class="children-area-list"
                  *ngFor="let child of sub.children"
                  [routerLink]="child.path"
                  (click)="$event.stopPropagation(); passName(child.name)"
                  [ngClass]="{ 'active': seletedName === child.name }">
                  <span class="second-child-area">{{ child.name }}</span>
              </li>
            </ul>
          </li>

        </ng-container>
      </ul>
    </li>

  </ul>
</div>
