.page-wrapper {

    background: #f3f4f6; 

    .home-container {
        padding: 30px;
        text-align: center;
        font-family: Arial, sans-serif;
        color: #2f2f2f;
    }

    .welcome-card {
        background: #eef2ff;   
        padding: 35px;
        border-radius: 14px;
        border: 1px solid #d8ddf3;
        box-shadow: 0 2px 10px rgba(0,0,0,0.05);
        margin-bottom: 30px;
    }

    .welcome-card h1 {
        color: #374151;  
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .start-btn {
        padding: 12px 28px;
        background: #34556e;   
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 18px;
        font-size: 16px;
        transition: 0.3s;
    }

    .start-btn:hover {
        background: #055160;
        transform: translateY(-2px);
    }

    .section-title {
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 600;
        color: #374151;  
    }

    .cards-section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 22px;
    }

    .lang-card {
        width: 210px;
        padding: 22px;
        background: #ffffff;
        border-radius: 12px;
        transition: 0.3s;
        cursor: pointer;
        border: 1px solid #e5e7eb;  
        box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    }

    .lang-card:hover {
        background: #f0f4ff;   
        transform: translateY(-4px);
        box-shadow: 0 5px 14px rgba(0,0,0,0.08);
    }

    .lang-card h3 {
        font-size: 17px;
        color: #4f46e5;  
        margin-bottom: 8px;
        font-weight: 600;
    }

    .lang-card p {
        font-size: 14px;
        color: #475569;
        line-height: 1.5;
    }

    .extra-info {
        margin-top: 40px;
        background: #eef2ff;
        padding: 25px;
        border-radius: 14px;
        border: 1px solid #d8ddf3;
        box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    }

    .extra-info h2 {
        margin-bottom: 10px;
        color: #374151;
        font-weight: 700;
    }

    .extra-info p {
        font-size: 15px;
        color: #444;
        max-width: 760px;
        margin: auto;
        line-height: 1.6;
    }
}
