/* Scrollbar width */
::-webkit-scrollbar {
    width: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: #3f444a;
}

/* Scrollbar Thumb (the bar) */
::-webkit-scrollbar-thumb {
    background: #868e96;
    border-radius: 8px;
}

/* Hover color */
::-webkit-scrollbar-thumb:hover {
    background: #adb5bd;
}

.page-wrapper {
    height: 100%;
}


.notes-container {
  width: 100%;
  padding: 20px;
  background: #eef1f6;
  display: flex;
  flex-direction: column;
  gap: 22px;

  /* CARD */
  .ts-card {
    display: flex;
    background: #ffffff;
    border-radius: 12px;
    border-left: 6px solid #6a84ff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: 0.25s;

    /* LEFT PART */
    .left-part {
      width: 50%;
      padding: 18px 20px;
      background: #f5f7ff;
      border-right: 1px solid #e0e4f2;

      /* Question Title */
      h3 {
        margin: 0 0 10px 0;
        font-size: 17px;
        font-weight: 700;
        color: #3544b9;
      }

      .heading-line {
        font-weight: 700;
        font-size: 17px;
        color: #161616;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      .answer {
        display: flex;
      }
    }
  }

  .ts-card:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }

  /* RIGHT PART */
  .right-part {
    width: 50%;
    padding: 18px 20px;
    background: #faf8ff;

    h4 {
      margin: 0 0 10px 0;
      font-size: 15px;
      font-weight: 600;
      color: #6236c8;
    }

    pre {
      background: #f0f4ff;
      border: 1px solid #d7e0ff;
      padding: 12px;
      border-radius: 8px;
      font-size: 14px;
      white-space: pre-wrap;
      word-break: break-word;
      line-height: 1.5;
      color: #2d2f36;
    }
  }
}